<%= stylesheet_link_tag 'expenses', media: 'all', 'data-turbo-track': 'reload' %>

<div class="expenses-container">
  <div class="expenses-header">
    <h1 class="expenses-title">Expenses</h1>
    <%= form_with(url: logout_path, method: :post) do %>
      <%= submit_tag 'Logout', class: 'logout' %>
    <% end %>
  </div>

  <div class="new-expense-button-container">
    <%= link_to 'New Expense', new_expense_path, class: 'new-expense-button' %>
  </div>

  <table class="expenses-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.description %></td>
          <td><%= number_to_currency(expense.amount, unit: '$') %></td>
          <td><%= expense.date %></td>
          <td><%= expense.category.name %></td>
          <td class="edit-destroy">
            <%= link_to 'Edit', edit_expense_path(expense), class: 'btn-edit' %> |
            <%= link_to 'Delete', confirm_delete_expense_path(expense), class: 'btn-delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>