<%= stylesheet_link_tag 'show-expense', media: 'all', 'data-turbo-track': 'reload' %>

<div class="expense-container">
  <div class="expense-box">
    <h1>Expense Details</h1>

    <div class="expense-details">
      <p><strong>Description:</strong> <%= @expense.description %></p>
      <p><strong>Amount:</strong> <%= @expense.amount %></p>
      <p><strong>Date:</strong> <%= @expense.date %></p>
      <p><strong>Category:</strong> <%= @expense.category.name %></p>
    </div>

    <div class="actions">
      <%= link_to 'Edit', edit_expense_path(@expense), class: 'btn btn-primary' %> |
      <%= link_to 'Back', expenses_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
